.create {
    margin-left: 9%;
    margin-right: 9%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.createGrid {
    display: grid;
    gap: 1.5rem;
    margin-top: 1rem;
}

.create form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create button {
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.createGrid input,
textarea {
    padding: 18px;
    background-color: rgb(246 248 253);
    border-style: none;
    border-radius: 3rem;
    margin: 0;
    box-shadow: 4px 4px 15px lightblue inset;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    min-height: 80px;
    border-radius: 1rem;
    resize: vertical;
}

.CreateGridLocation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    grid-column: span 2;
    background-color: #add8e62e;
    border-radius: 3rem;
}

.CreateGridLocation img {
    margin-left: 0.5rem;
}

.CreateGridLocation input {
    width: 100%;
}

.createGridDate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #add8e62e;
    border-radius: 3rem;
}

.datetimeinput {
    border: none;
}

.datetimeinput input {
    background-color: #f0f8fa00;
    box-shadow: none;
}

.createGridDate img {
    margin-left: 0.5rem;
}

.createGridDate input {
    width: 100%;
}

.createGridDate img {
    filter: brightness(0) saturate(100%) invert(47%) sepia(0) saturate(217%) hue-rotate(32deg) brightness(98%) contrast(92%);
}

#createPriceDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: #add8e62e;
    border-radius: 3rem;
}

#createPriceDiv img {
    margin-left: 0.5rem;
}

#createPriceDiv div {
    display: flex;
    align-items: center;
}

.fristDiv {
    width: 100%;
}

#freeTicket {
    width: 6rem;
}

.createPriceInput {
    width: 100%;
}

#checkbox {
    background-color: rgb(98 76 245);
    border: 2px solid rgb(98 76 245);
    margin-right: 0.5rem;
    border-width: 2px;
    width: 1.25rem;
    height: 1.25rem;
    background-image: none;
    box-shadow: none;
}

@media(max-width:825px) {
    .createGrid {
        display: flex;
        flex-direction: column;
    }

    .create {
        padding-bottom: 1.5rem;
    }
}

@media(max-width:450px) {
    .createGrid {
        gap: 1rem;
    }
}