.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100vh; */
}

.pageMsg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: gray;
    min-height: 90vh;
}

.pageMsg>* {
    margin: 0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    color: #624CF5;
    min-height: 100vh;
}